@use "../custom";

@media (max-width: 768px) {

  // .certification-img {
  //   &:hover {
  //     transform: scale(1.05) skew(2deg);
  //     filter: saturate(3) !important;
  //   }
  // }
  .certification-img-IELTS {
    &:hover {
      transform: scale(1.05) skew(2deg);
    }
  }
}

.certification-sec {
  background: linear-gradient(to top right, #001429, #002026, #001429),
    radial-gradient(circle, #315d36, transparent);
  background-blend-mode: overlay;
}

.certification-img {
  transition: all ease-out 0.15s;
  border-radius: 5px;
  width: 100%;
}

#certification-title {
  opacity: 0;
  text-shadow: #000000 0px 0px 5px;
  transition: all ease-out 1s;
}

#certification-1 {
  opacity: 0;
  display: none;
  transition: all ease-out 0.3s;
  object-fit: cover;
}

#certification-2 {
  opacity: 0;
  display: none;
  transition: all ease-out 0.3s;
  object-fit: cover;
}

#certification-3 {
  opacity: 0;
  display: none;
  transition: all ease-out 0.3s;
  object-fit: cover;
}

#certification-4 {
  opacity: 0;
  display: none;
  animation-delay: 0s;
  object-fit: cover;
}

#certification-5 {
  opacity: 0;
  display: none;
  transition: all ease-out 0.3s;
  object-fit: cover;
}

.certification-img-IELTS {
  transition: all ease-out 0.2s;
  border: 2px solid #000000;
  border-radius: 2px;
}

// Table hover style animation
.tr {
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 99;
}

// to apply transform on the next img element
.tr:hover~img {
  transform: rotateX(5deg) rotateY(10deg) scale(1.05);
  box-shadow: -15px 15px 5px #00000075;
}

.tl {
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99;
}

.tl:hover~img {
  transform: rotateX(5deg) rotateY(-10deg) scale(1.05);
  box-shadow: 15px 15px 5px #00000075;
}

.br {
  width: 50%;
  height: 50%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 99;
}

.br:hover~img {
  transform: rotateX(-5deg) rotateY(10deg) scale(1.05);
  box-shadow: -15px -15px 5px #00000075;
}

.bl {
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 99;
}

.bl:hover~img {
  transform: rotateX(-5deg) rotateY(-10deg) scale(1.05);
  box-shadow: 15px -15px 5px #00000075;
}
