@use "../custom";

@media (max-width: 576px) {
  .note {
    font-size: 12px !important;
  }

  .footer-item {
    min-width: 60vw !important;
    text-align: center;
    color: white !important;
  }
}

#footer-sec {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background-color: var(--footer);
  z-index: 10;
  color: white !important;

  & ul {
    list-style: none;
    padding-left: 0;
  }
}

.footer-item {
  margin: 0 auto;
  padding: auto;
  width: min-content;
  color: white !important;
}

.item-hover{
    font-size: xx-large;
    transition: all ease-in-out .2s;
}

.item-hover:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.note {
  position: absolute;
  left: 10px;
  bottom: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  color: #fff5ee;
}

.toast-welcome {
  position: fixed;
  top: 90px;
  left: 20px;
}
