@use '../custom';

@media (max-width: 576px) {
    .note {
        font-size: 12px !important;
    }

    .footer-item {
        min-width: 60vw !important;
        text-align: center;
    }
}

#footer-sec {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    background-color: var(--footer);
    z-index: 10;
    padding: 30px;

    & ul {
        list-style: none;
        padding-left: 0;
    }
}

.h1-bottom:hover {
    animation: flip;
    animation-duration: 1s;
}

.footer-item {
    margin: 0 auto;
    padding: auto;
    min-width: 25vw;
    color: var(--aliceblue);
}

// fontAwesome icon styling
.fa-icon {
    width: 35px;
    margin: 0 10px 10px 0;
}

.fa-container:hover {
    cursor: pointer;
}

.note {
    position: absolute;
    left: 10px;
    bottom: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    color: #FFF5EE;
}