@use "../custom";

@media (max-width: 576px) {
  .header-text {
    font-size: calc(100vh / 16) !important;
    margin: 35px !important;
  }
}

.header-section {
  --s: 50px;
  --c: #111111;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 100px;
}

#header-image {
  position: absolute;
  z-index: 0 !important;
  right: 50px;
  border: 5px solid transparent;
  background: linear-gradient(#ff1900, #0F9177, #ff4c4c, #FDEBAD, #ff1900);
  top: calc((100vh / 2) - 200px);
}

.header-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.header-text {
  position: absolute;
  z-index: 1 !important;
  font-size: calc(100vh / 12);
  font-weight: bolder;
  color: #f0f0f0;
  bottom: 50px;
  left: auto;
  text-shadow: 3px 3px 3px #1e293b;
}

// text animation
@keyframes main-text-anim {
  0% {
    transform: translate3d(-100%, -400%, 0);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// text animation class
.main-text-anim {
  animation: main-text-anim 0.5s 0s;
}

// default sec animation
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

.zoomIn {
  animation: zoomIn 0.5s 0s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1.6s 0s;
}

// main image background animation
// @keyframes transitionMap {
//   0% {
//     transform: scale(1) rotateZ(0) skewX(0);
//   }

//   50% {
//     transform: scale(1.7) rotateZ(-10deg) skewX(10deg);
//   }

//   100% {
//     transform: scale(1) rotateZ(0) skewX(0);
//   }
// }

.header-text-glow {
  animation: textGlow 8s linear infinite;
}

@keyframes textGlow {

  0%,
  53.3%,
  60%,
  76%,
  85%,
  97% {
    color: #F0F0F0;
  }

  53.1%,
  59%,
  77%,
  84.9%,
  93%,
  99%,
  100% {
    color: var(--header-text-glow);
    // text-shadow: 
    // 0px 0px 5px #ffffff,
    // 0px 0px 10px #ffffff,
    // 0px 0px 12px #ffffff,
    // 0px 0px 15px #ffffff,
    // 0px 0px 20px #ffffff,
    // 0px 0px 25px #ffffff;
  }
}