@use "../custom";

@media (max-width: 576px) {
  .header-text {
    font-size: calc(100vh / 16) !important;
    margin: 35px !important;
  }

  #header-image {
    right: 50px !important;
  }

}

.header-section {
  background: linear-gradient(to top right, #000306, #002026, #000306),
    radial-gradient(circle, #315d36, transparent);
  background-blend-mode: overlay;
  min-height: 100vh;
  padding-top: 100px;
}

#header-image {
  position: absolute;
  z-index: 0 !important;
  right: 150px;
  top: calc(50svh - 150px) !important;
  border: 5px solid transparent;
  background: linear-gradient(#ff1900, #0F9177, #ff4c4c, #FDEBAD, #ff1900);
  top: calc((100vh / 2) - 200px);
}

.header-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}

.header-text {
  position: absolute;
  z-index: 1 !important;
  font-size: calc(100vh / 12);
  font-weight: bolder;
  color: #f0f0f0;
  bottom: 50px;
  left: auto;
  text-shadow: 3px 3px 3px #1e293b;
}

// text animation
@keyframes main-text-anim {
  0% {
    transform: translate3d(-100%, -400%, 0);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// text animation class
.main-text-anim {
  animation: main-text-anim 0.5s 0s;
}

// default sec animation
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

.zoomIn {
  animation: zoomIn 0.5s 0s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1.6s 0s;
}

// main image background animation
// @keyframes transitionMap {
//   0% {
//     transform: scale(1) rotateZ(0) skewX(0);
//   }

//   50% {
//     transform: scale(1.7) rotateZ(-10deg) skewX(10deg);
//   }

//   100% {
//     transform: scale(1) rotateZ(0) skewX(0);
//   }
// }

.header-text-glow {
  animation: textGlow 8s linear infinite;
}

@keyframes textGlow {

  0%,
  53.3%,
  60%,
  76%,
  85%,
  97% {
    color: #F0F0F0;
  }

  53.1%,
  59%,
  77%,
  84.9%,
  93%,
  99%,
  100% {
    color: var(--header-text-glow);
    // text-shadow: 
    // 0px 0px 5px #ffffff,
    // 0px 0px 10px #ffffff,
    // 0px 0px 12px #ffffff,
    // 0px 0px 15px #ffffff,
    // 0px 0px 20px #ffffff,
    // 0px 0px 25px #ffffff;
  }
}