@use "../custom";

#main {
  display: flex;
  min-height: auto;
  padding-top: 55px;
  background: var(--intro);
  z-index: 5 !important;
}

#intro-container {

  border-radius: 50% !important;
}

#intro-text {
  margin: 50px;
  opacity: 0;
}


#main-sec {
  background-color: var(--intro-bg);
  color: black;
  z-index: 5 !important;
}