@use "../custom";

#main {
  display: flex;
  min-height: auto;
  justify-items: center;
  justify-content: center;
  padding-top: 55px;
  background: #ffffff;
  z-index: 5 !important;
}

#intro-text {
  margin: 50px;
  opacity: 0;
  text-align: justify;
}

#main-sec {
  background-color: transparent;
  color: black;
}
