@use '../custom';

#main {
    display: flex;
    min-height: 100vh;
    background: var(--bs-secondary);

}

// main section container
.main-sec {
    height: 100% !important;
    min-height: 80vh;
    margin-top: 100px;
    align-content: space-between;

}

// image styling on hover
.img-cert {
    transition: all .25s ease-in-out;

    &:hover {
        transform: scale(1.06);
        filter: saturate(.7);
    }
}