$primary: #3C486B;
$info: #0d6efd;
$warning: #F9D949;
$danger: #F45050;
$body-color: #F0F0F0;
$body-bg: #3C486B;
$light: #F0F0F0;
$dark: #0d0f17;

:root {
    --footer: #1E293B;
    --header: #1E293B;
    --projects: #dadbeb;
    --card: #dadbeb;
    --intro: #dadbeb;
    --certification: #FFFFFF;
    --skills: #FFFFFF;
    --navbar: #33415560;
    --dark-toggle: #FFF5EE;
    --dark-toggle-hover: #FFF5EE80;
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';