$primary: #3c486b;
$info: #0d6efd;
$warning: #f9d949;
$danger: #f45050;
$body-color: #f0f0f0;
$body-bg: #3c486b;
$light: #f0f0f0;
$dark: #0d0f17;

body {
  font-family: "Black Ops One", cursive !important;
  font-family: "Ubuntu", sans-serif !important;
}

:root {
  --footer: #1e293b;
  --header: #1e293b;
  --projects: #dadbeb;
  --card: #dadbeb;
  --intro: #dadbeb;
  --intro-bg: #ffffff;
  --certification: #dadbeb;
  --skills: #dadbeb;
  --navbar: #33415560;
  --dark-toggle: #fff5ee;
  --dark-toggle-hover: #fff5ee80;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
